*
{
    vertical-align: middle;
}
body
{
    padding: 0px;
    margin: 0px;
    background: #fff4f8;
}
.container
{
    width: 80%;
    margin: auto;
    transition: all 0.5s;
    transform: translate(0%,0%);
}
/* CSS para o normal menu */
.novidades
{
    transform: translate(0%,0%);
    transition: all 0.5s;
    width:80%;
    margin: auto;
    background-color: #eb3b5a;
}
.novidades form input
{
    font-size: 14px;
    height:2em;
    width:80%
}
/* CSS para o formulário de email NOVIDADES */
#check-email:checked ~ .novidades
{
    transform: translate(0%,-100%);
}
#check-email:checked ~ .container
{
    transform: translate(0%,-2.6%);
}

.btn-primary
{
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#1F2120FF;
    border:none;
    transition: all 0.3s ease-in-out;
}
.btn-primary:hover
{
    background-color:#eb3b5a;
}

/* HEADER */
.header
{
    position: fixed;
}

/* Scrool Bar Width */
::-webkit-scrollbar
{
    width:5px;
}

/* Scrool Bar Handle */
::-webkit-scrollbar-thumb
{
    background:#eb3b5a;
}


/* CSS Navegação principal */
.mobile-menu
{
    display:none;
}


/* CSS para os banners em Bloco */
.banners-block
{
    width: 100%;
    display:flex;
    flex-wrap: wrap;    
}
.col-6
{
    width: 50%;
}
.row
{
    margin: 5px;
}
.row img
{
    width: 100%;
}
.banner-body
{
    width: 20em;
    height: fit-content;
    display: grid;
    padding: 0px;
    margin: 5px auto;
    position: relative;
    overflow: hidden;
}
.banner-body img
{
    height: 20em;
}
.banner-body a
{
    transition: all 0.5s; 
    width: 20em;   
}
.banner-body a:hover
{
    transform: scale(1.1);
}
.banners-block figcaption
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: #FFF;
    text-decoration: none;
    backface-visibility: hidden;
}
.banners-block figure figcaption h1
{
    bottom:0;
    position: absolute;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.8;
}
@media only screen and (max-width: 700px)
{
    .mobile-menu
    {
        display:block;
    }
    .normal-menu, .novidades
    {
        display:none;
    }
    #check
    {
        display:none;
    }
    .container
    {
        width:100%;
        transform: translate(0%,0%);
    }
    *
    {
        padding:0px;
        margin:0px;
        vertical-align: middle;
    }
    li
    {
        list-style: none;
    }
    .header
    {
        background-color: #eb3b5a;
        position: initial;
        width: 100%;
        z-index: 99;
    }
    .resp-nav
    {
        position: fixed;
        top:0;
        -webkit-transform: translate(-100%,0);
        transform: translate(-100%,0);
        min-width: 70%;
        height: 100%;
        background-color: #FFF;
        transition: all 0.5s;
        z-index: 10;
    }
    .resp-menu-top
    {
        background-color: #eb3b5a;
        height: 3em;
        width: 100%;
        display: flex;
    }
    .resp-menu-top a
    {
        margin: auto;
        color: #FFF;
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1em;
    }
    .resp-menu-top a ion-icon
    {
        padding: 5px;
    }
    .resp-menu-body
    {
        background-color: #FFF;
    }
    .resp-menu-body li
    {
        display: flex;
    }
    .resp-menu-body li a
    {
        width:100%;
        padding: 10px;
        text-decoration: none;
        color:#282828;
        text-transform: uppercase;
        font-size: large;
        border-bottom: 1px solid #eb3b5a;
    }
    .resp-menu-body li a:hover
    {
        background-color: #eb3b5a;
        color:#FFF;
    }
    .resp-menu-body li a::after
    {
        content: ">";
        float: right;
        text-transform: capitalize;
    }
    .resp-menu-foot
    {
        background-color: #eb3b5a;
    }
    .resp-menu-foot li
    {
        color:#FFF;
        display: flex;
    }
    .resp-menu-foot ion-icon
    {
        padding: 0.5em;
    }
    .resp-menu-foot li a
    {
        color:#FFF;
        text-decoration: none;
        font-size: large;
        text-transform: uppercase;
        padding:0.5em;
        width: 100%;
    }
    .resp-menu-foot li a:hover
    {
        background-color: #FFF;
        color:#eb3b5a;
    }
    .background
    {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: #000;
        z-index: 9;
        opacity: 0.8;
        transition: all 0.8s;
        -webkit-transform: translate(-100%,0);
        transform: translate(-100%,0);
    }
    #check:checked ~ .background
    {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
    #check:checked ~ .resp-nav
    {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }    
    .logo
    {
        height: 3em;
        display: table-cell;
    }
    .logo label
    {
        color: #FFF;
    }

}
/* ------------- */
.slider img
{
    width:100%;

}
.menu
{
    display: flex;
}

.active
{
    background-color: #eb3b5a;
}
/*CSS container com os produtos */

.products
{
    display: flex;
    flex-wrap: wrap;
    list-style: none;     
    padding:0px;  
}
.product
{
    width: 20em;
    margin: 10px auto;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 5px;
}

/* CSS para card de produto Topo*/

.product-top
{
    text-align: center;
    height: 20em;
    overflow: hidden;
}
.img-product
{
    width: 100%;
}
.product-mask
{
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
}
.img-product-secundary
{
    width: 100%;
}
.img-product-front
{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.8s;
}
.img-product-back
{
    width: 100%;
    height: 100%;
    position: absolute;    
}
.product-mask:hover .img-product-front
{
    opacity: 0;
}

/* CSS para a TAG do topo */
.tag
{
    position: relative;
    top: 46px;
    right: 40%;
}

/* CSS para card de produto Footer */
.product-footer
{
    text-align: center;
}
.product-footer label
{
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 20px;  
    color: #282828;
}
.product-footer a
{
    display: inline-block;
    padding: 5px 0px 5px 0px;
    text-decoration: none;    
}
.btn-buy
{
    background-color:#eb3b5a;
    color: #FFFFFF;
    width: 100%;
    transition: all 0.5s;
}

.btn-buy:hover
{
    background-color:  #282828;
}
.product-footer ion-icon
{
    vertical-align: middle;
    margin: 5px;
}
